html{
  font-size:21px;
  line-height:1.7;
  font-family:sans-serif;
}
body{
  background-color: pink;
}
main{
  background-color: yellow;
  width:90vw;
  height:50vh;
  padding-top:20px;
}
article.my_box, .my_box {
  width:100%;
  height:100%;
  text-align: center;
}
h1{
  background-color: #f9423a;
  width:20vw;
  height:200vh%;
  margin:auto;
  border:10px solid #bada55;
  border-radius:300px;
  text-align:inherit;
}
