.heading {
  font-size: 80px;
  text-align: center;
  color: #e59866;
}

.tagline {
  text-align: center;
  font-size: 40px;
}
.intro {
  font-size: 30px;
  text-align: center;
}

body {
  background-color: #fdfefe;
  font-family: inherit;

  line-height: 1.5;
}
.steps h2 {
  text-align: center;
}

.order {
  width: 900px;
  margin: 0 auto;
  list-style: none;
}
.need {
  text-align: center;
}

.more {
  text-align: center;
}
.list {
}
.steps-pic {
  display: none;
}

.grid1 {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;

  margin-top: 30px;
}

.grid1 img {
  width: 200px;
}

nav {
  width: 600px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: black;
}

.grid2 {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}

.paw {
  align-items: center;
  align-content: center;
  align-self: center;
}

.grid3 {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}
.style {
  align-items: right;
}
